Redirect 302 /projects /product-design
Redirect 302 /projects/art-gallery-app /product-design/art-gallery-app
Redirect 302 /projects/step-counter-app /product-design/step-counter-app
Redirect 302 /projects/budget-app /product-design/budget-app
Redirect 302 /projects/digital-drivers-license-app /product-design/digital-drivers-license-app
Redirect 302 /projects/design-system /product-design/design-system
Redirect 302 /projects/medical-diagnosis-app /product-design/medical-diagnosis-app
Redirect 302 /projects/event-guide-app /product-design/event-guide-app
Redirect 302 /projects/food-truck-site /product-design/food-truck-site
Redirect 302 /projects/karaoke-competition-app /product-design/karaoke-competition-app
Redirect 302 /devfest22 /talks
